<html>
    <title></title>
</head>
<body>
    <h1>Bitcoin Calculator</h1>
    <form action="/"method="POST">
        <input type="number" name="num" placeholder="enter bitcoins number">
        Convert to:
        <select name="currency">
            <option value="USD">US Dollar</option>
            <option value="EUR">EUR Euros</option>
        </select>
        <button type="submit">Convert</button>
        <h1>result: <%=rez %> <%= code %></h1>
    </form>

    
</body>
</html>